/*======================================

CSS DOCUMENT FOR ALL EXTERNAL Files
Popups, Glossary, Notes, Copyright Pages

======================================*/

#externalContent{
margin: 0 auto;
width: 98%;
background-color: transparent;
background-position: top center;
background-repeat: no-repeat;
border-bottom: solid 20px #bdbab5;
margin-bottom: 40px;
background-color: #faf6ef;
padding: 20px;
}